<h1>Form::Processor samples</h1>

<p>
    Here's a few test forms.  Not all might work if the
    required modules are not installed.  Check the server output
    for problems.
</p>

<ul>
    [% FOR link = page.menu %]
    <li>
        <a href="[% c.uri_for( link.0 ) %]">[% link.1 | html %]</a>
    </li>
    [% END %]
</ul>

